<p id="notice"><%= notice %></p>
<h1>Contacts</h1>
<%= form_tag contacts_path, method: :get,remote: true do %>
<p>
	<%= label_tag(:name, "Search for: ") %>
	<%= text_field_tag(:name) %>
	<%= submit_tag("Search") %>

</p>


<p> 
	<select name="direction" data-remote="true" data-url="<%=contacts_path%>" %>
		<option value="asc">Ascending</option>
		<option value="desc">Descending</option>
	</select>
	<%# link_to 'Ascending',contacts_path(direction: "asc"), remote: true%>
	<%# link_to 'Descending',contacts_path(direction: "desc"), remote: true%>
	</p>
<% end %>
<br><br>
<%= link_to 'New Contact', new_contact_path, remote: true %>
<br><br>
<div class="row">
	<%
		list_state = {}
		list_state[:page] = params[:page]
		list_state[:name] = params[:name]
		list_state[:direction] = params[:direction]
	%>
	<div class="col-md-3" id = "contacts_table" data-state="<%=list_state.to_json%>">
		<%= render 'contacts_list' %>
	</div>
	<div class="col-md-9" id="contact_detail">
	</div>
</div>
<br><br>

<% if (params[:name].present?) %>

<%= link_to 'Back', contacts_path %>
<% end %>
	



<script>
$('.contact-form').on("ajax:before", function() {
  $(this).attr("action", $(this).attr("action")+"?"+$.param($('#contacts_table').data("state")));
});

$('select[name="direction"]').on("ajax:before", function() {
	var old_state = $('#contacts_table').data("state")
	old_state.direction = $(this).val();
  $(this).data("params", $.param(old_state));
});
</script>

<h2>Import Contacts</h2>
<%= form_tag import_contacts_path,multipart: true do %>
<%= file_field_tag :file %>
<br>
<%= submit_tag "Import" %>
<% end %>